<link rel="stylesheet" href="https://use.typekit.net/bjh6zfl.css">

body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
   font-family: source-code-pro, monospace;
   font-weight: 700;
   font-style: normal;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    color: #333;
}
a:hover {
}
h1 {
    font-size: 2em;
    font-family: source-code-pro, monospace;
   font-weight: 700;
   font-style: normal;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
